#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#

*.DEPEND
*.o
*.log
thirdparty/package/nanomq/nanomq
thirdparty/package/nng/nng
thirdparty/package/spdlog/spdlog
thirdparty/package/spdlog/media_server/sdk
thirdparty/package/spdlog/media_server/avcodec
thirdparty/package/spdlog/media_server/media-server
build/
debug/
output/
.vscode/
.cache/
compile_commands.json
